//CUSTOM VARIABLES
$primary:  #5265E1;
$secondary: #FA5959;

// RAW CSS
p {
    color:#adb5bd;
}

body>div {
    margin-top:2em;
}

//EXERCICI 1
.shadow-right{
    box-shadow: 12em 3em 0em 0em $primary;
    border-bottom-left-radius: 5em;
    height:20rem;
    width:35rem;
    margin-bottom: 6em; 
    left: 10rem; 
}

.first-img{
      
    position:relative; 
    top: 0rem;
    height: 120%;
    width: 100%;
    margin-top: 2rem;
}

//EXERCICI 2
.shadow-left{
    box-shadow: -12em 3em 0em 0em $primary;
    border-bottom-right-radius: 5em;
    margin-bottom: 6em; 
}

.tab-img{
right:1.5rem;    
position: relative;
height: 100%;
width: 100%;
margin-top: 2rem;
}

#myTab li a {     
  border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color:#adb5bd;
} 
#myTab li a:link {
    color: #adb5bd;
} 

#myTab li a:hover {
    color: rgb(255, 0, 0); 
}
#myTab li a.active {
    border-bottom-color: red;
    border-bottom-width: 0.3rem;
    color: black; 
}

//BUTTONS
div .mybtn {
    margin: 0.625em;
}

div .btn:link {
    margin: 0.625em;
}

div .btn:visited {
    margin: 0.625em;
}

div .btn:hover {
    color: rgb(0, 0, 0);
    background-color: #f8f9fa;
    border-color: $primary;
}
//EXERCICI 3

.mycard {
    box-shadow: 0em 0em 0.5em 0.5em rgb(233, 232, 232);
    .mycard-img {
        margin-top: 2rem;
        align-self: center;
    }
}

.row .firefox-card {
    margin-top: 3rem;
    
}
.row .opera-card {
    margin-top: 6rem;
    
}

//IMPORT
@import "../node_modules/bootstrap/scss/bootstrap";
/* EJECUTAR EN TERMINAL NPM RUN BUILD CADA VEZ QUE VAYA A INTENTAR SUBIR LA WEB A GITHUB O ACTUALIZARLA*/
